{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Car list
    <a href="{% url 'taxi:car-create' %}" class="custom-btn">
      Create
    </a>
  </h1>
  <form method="get" action="" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="Search" class="custom-btn">
  </form>

  {% if car_list %}
    <ul>
      {% for car in car_list %}
        <li>
          <a href="{% url "taxi:car-detail" pk=car.id %} " class="custom-btn">{{ car.id }} </a>
          {{ car.model }} ({{ car.manufacturer.name }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
